@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Outfit:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.btn-primary{
    @apply text-black font-medium bg-primary px-8 py-4;
}

.btn-dark {
    @apply text-white font-medium bg-black px-6 py-3;
}

.btn-bordered{
    @apply text-xl text-black font-medium border-2 border-ash-gray/50 px-6 py-3;
}

.btn-bordered-sm {
    @apply text-black font-medium border-2 border-ash-gray/50 px-6 py-2;
}

.input-gray{
    @apply text-light-slate-gray placeholder:text-light-slate-gray bg-transparent border border-ash-gray;
}

.input-dark {
    @apply text-black placeholder:text-black bg-transparent border border-black;
}

.nav-menu{
    @apply fixed lg:static top-[95px] -right-1/2 w-full min-h-[calc(100vh-95px)] lg:min-h-max flex flex-col lg:flex-row justify-between items-center bg-white gap-4 px-12 lg:px-0 py-8 lg:py-0 invisible lg:visible opacity-0 lg:opacity-100 transition-all ease-in-out;
}

.nav-menu.show{
    @apply right-0 visible opacity-100;
}

.primary-box{
    @apply bg-primary;
}

.lavender-box {
    @apply text-dark-pruple bg-lavender;
}

.cyan-box {
    @apply text-army-green bg-light-cyan;
}

.antique-box{
    @apply text-brown bg-antique-white;
}